@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #FEAF00 0%, #F8D442 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.primero {
    border-radius: 20px;
    background-color: var(--color-1);
    width: auto;
    margin-top: auto;
}

.primerito {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "bold";
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.primerito img {
    padding-right: 10px;
}

.segundito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.segundito h1 {
    font-family: "semibold";
    padding-bottom: 10px;
}

.segundito p {
    font-family: "regular";
    font-size: 14px;
    font-weight: 100;
    color: var(--color-4);
}

.lobol {
    padding-left: 20px;
    padding-right: 20px;
}
.lobol h3{
    font-family: "medium";
    font-weight: 100;
    color: var(--color-4);
    font-size: 14px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px; 
    display: block;
    transition: color 0.3s ease;
}

input {
    font-size: 12px;
    font-family: "regular";
    color: var(--color-5);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    border: 0.5px solid var(--color-6);
    border-radius: 4px;
    font-weight: 100;
    transition: color 0.3s ease;
}


input:focus {
    font-family: "medium";
    border-color: #FEAF00;
    outline: none;
    color: #000;
}

input:not(:placeholder-shown) {
    color: #000;
}

.boton button {
    background: linear-gradient(to right, #FEAF00 0%, #F8D442 100%);
    width: 90%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 5px;
    border: none;
}

.boton h1 {
    font-family: "medium";
    font-weight: 100;
    font-size: 15px;
    color: var(--color-1);
}

.final {
    font-family: "medium";
    font-size: 8px;
    font-weight: 100;
    gap: 5px;
    margin-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--color-4);
}

.final{
    font-weight: 100;
}
a {
    color: #FEAF00;
}
